html(lang='en')
  head
    meta(chatset='utf-8')
    title=title
    
    meta(name='author' content='')
    meta(name='description' content='')
  body
    block content
    script(src='/socket.io/socket.io.js')