extend landing-layout

block content
  div#header-background
  #header.map-wrapper
    .map-wrapper-inner
      .map-container
        .header.clearfix
          .inner
            ul.nav.header-nav
              li	
                a.icon-github-01(href='https://github.com/jeloou/jull-io' target='_blank')
              li
                a.icon-twitter-3(href='https://twitter.com/jull_io' target='_blank')
        //
        .inner.cover
          img.featurette-image.img-responsive#logo(src='/img/astro-guy.png')
          h1.cover-heading
            | m2m instant messaging for 
            br
            | moving things
          p.lead
            a.btn.btn-lg.btn-default(href='/login') Sign in
        //
  //
  .container.markerting
    .row.featurette#capture-1
      img.featurette-image.img-responsive(src='/img/browser.png')
    hr.featurette-divider
    //
    .row.featurette
      .col-md-7
        h2.featurette-heading You can turn anything into a geo-aware thing. 
          span.text-muted Share your location in real-time
        p.lead
          | Create geo-fences, they allow you to know when a device enters or exists a place, 
          | letting you build all kind of cool apps, like one to know
          | when your cat leaves your house
      .col-md-5
        img.featurette-image.img-responsive(src='/img/capture-2.png')
    //
    hr.featurette-divider
    .row.featurette 
      .col-md-5
        img.featurette-image.img-responsive(src='/img/capture-3.png')
      .col-md-7
        h2.featurette-heading They can detect the proximity of other things.  
          span.text-muted Become aware of your surroundings
        p.lead
          | Every device knows when other devices are close. It's perfect to build apps that know when 
          | your friends are around, or those creepy dating apps
    //
    hr.featurette-divider
    .row.featurette 
      .col-md-7
        h2.featurette-heading Broadcast messages.  
          span.text-muted Make them work like a team
        p.lead
          | Share data with other devices by using its identifiers, which you can get when they are around
      .col-md-5
        img.featurette-image.img-responsive(src='/img/capture-4.png')
  //
  .clearfix
  div#footer-background
  #footer.container
    .map-wrapper
      .map-wrapper-inner
        .map-container
          .inner.cover
            h1.cover-heading It's free and open-source
            p.lead
              | jull.io is still being developed, but you can go and play with
              | the existing functionality
            p.lead
              a.icon-github-01(href='https://github.com/jeloou/jull-io' target='_blank')


  
